
@media (min-width: 50px) and ( -webkit-min-device-pixel-ratio: 1 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white@0,5x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}
@media (min-width: 560px) and ( -webkit-min-device-pixel-ratio: 2 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    nav{
        margin-left: 60px;
    }
}
@media (min-width: 1024px) and ( -webkit-min-device-pixel-ratio: 1 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white@0,75x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    nav{
        margin-left: 60px;
    }
}

@media (min-width: 1024px) and ( -webkit-min-device-pixel-ratio: 2 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white@1,5x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    nav{
        margin-left: 60px;
    }
}
@media (min-width: 1280px) and ( -webkit-min-device-pixel-ratio: 1 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    nav{
        margin-left: 60px;
    }
}
@media (min-width: 1280px) and ( -webkit-min-device-pixel-ratio: 2 ) {
    header {
        min-height: 100vh;
        background: url(../img/server-white@2x.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    nav{
        margin-left: 60px;
    }
}

nav.navbar {
    background-color: transparent !important;
    border-radius: 0;
}

header .row {
    margin-top: 90px;
    color: #4ED472;
}
main.container {
    margin-top: 40px;
}


section {
    margin-bottom: 30px;
}

h2 {
    text-transform: uppercase;
}

#Features h2 {
    text-align: center;
    color: #52C871;
    margin-bottom: 2em;
}
#Pricing h2 {
    color: #767776;
    text-align: center;
    margin-bottom: 2em;
}
#About h2 {
    text-align: center;
    color: #18BC9C;
    margin-bottom: 2em;
}

.footer {
    padding-top: 40px;
    padding-bottom: 40px;
    margin-top: 40px;
    border-top: 1px solid #eee;
}
.btn-outline-primary {
    color: #4ED472;
    border-color: #4ED472;
}

.btn-outline-primary:hover{
    background-color: #4ED472;
    border-color: #4ED472;
}
.tab-pane img {
    float: left;
    margin: 40px;
}

.card-img-top {
    max-width: 100%;
}
.tab-pane img {
    max-width: 75%;
    width: 400px;
}
footer p {
    text-align: center;
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}
@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}
.element {
    color: #626065;
}
.card {
    text-align: center;
}
.squizzle-link {
    max-width: 60%;
}
